<dd class="accordion-navigation payment-accordion-navigation <%= 'active 'if p.status==0%>">
  <a href="#payment_<%= p.id%>"><%= '更新於'+p.updated_at.strftime("%m/%d %H:%M")%>
    <span class="label <%= p.status_class %> right"><%= p.status_label%></span>
  </a>
  <div id="payment_<%= p.id%>" class="clearfix content payment-content <%= 'active' if p.status==0%>">
    <table class="small-12">
      <thead>
        <tr>
          <th class="small-9 medium-11">Title</th>
          <th class="small-3 medium-1">Price</th>
        </tr>
      </thead>
      <tbody>
        <% total=0 %>
        <% p.books.each do |b| %>
        <tr>

          <td><%=b.title%>
            <% if p.status==0 && phase(1)%>
              <%= link_to "取消訂購", book_purchase_path(b.id), method: :delete, remote: true, data: {type: 'json'} , class: 'button alert small purchase-cancel-button right' %>
            <% end %>
          </td>
	  <% temp_price= (current_user.is_member ? b.member_price(current_user.department.id) : b.nonmember_price(current_user.department.id)) %>
          <td><%=temp_price%></td>
          <% total+=temp_price %>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td class="text-right">Total:</td>
          <td><span class="total"><%= total %></span></td>
        </tr>
      </tfoot>
    </table>

    <% if p.status==0%>
    <div class="checkout text-center">
      <%= link_to "結帳", checkout_book_payment_path(p.id), remote: true, data: {type: 'json'} , class: 'button checkout-button' %>
    </div>

    <% elsif p.status==1%>
    <div class="row">
      <%= form_tag confirm_book_payment_path(p.id), remote: true, data: {type: 'json'}, class: 'small-12 medium-4 columns confirm-form' do%>
        <div class="row collapse">
          <div class="small-8 columns">
            <%= text_field_tag 'confirm_code', nil, placeholder:"確認碼" , class: 'confirm-code'%>
          </div>
          <div class="small-4 columns">
            <%= submit_tag "確認", data:{type: 'json'},class: 'button postfix confirm-button' %>
          </div>
        </div>
      <% end %>
      <div class="small-12 medium-2 confirm-status columns"></div>
      <div class="show-for-medium-up medium-2 payment-cancel right">
        <% if phase(1) %>
        <%= link_to "取消訂單", book_payment_path(p.id), method: :delete, remote: true, data: {type: 'json'} , class: 'button alert expand payment-cancel-button'%>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-5 large-4 text-center columns" style="margin-top:0.45em">
        <a data-reveal-id="payment-info-modal">請先閱讀：繳款及確認資訊</a>
      </div>
    </div>
    <div class="small-4 hide-for-medium-up small-centered payment-cancel" style="margin: 1em auto">
        <% if phase(1) %>
        <%= link_to "取消訂單", book_payment_path(p.id), method: :delete, remote: true, data: {type: 'json'} , class: 'button alert expand payment-cancel-button'%>
        <% end %>
      </div>

    <% elsif p.status==2%>
    <div class="row">
      <%= form_tag confirm_book_payment_path(p.id),method: :put ,remote: true, data: {type: 'json'}, class: 'small-4 columns modify-confirm-form' do%>
        <div class="row collapse">
          <div class="small-8 columns">
            <%= text_field_tag 'confirm_code', nil, placeholder:p.payment_code.to_s , class: 'modify-confirm-code' %>
          </div>
          <div class="small-4 columns">
            <%= submit_tag "更改", data:{type: 'json'},class: 'button postfix modify-confirm-button' %>
          </div>
        </div>
      <% end %>
      <div class="small-2 confirm-status columns end"></div>
    </div>
    <div class="row">
      <div class="small-12 medium-5 large-4 text-center columns" style="margin-top:0.45em">
        <a data-reveal-id="payment-info-modal">請先閱讀：繳款及確認資訊</a>
      </div>
    </div>
    <% end %>

  </div>
</dd>
<br>
