<%= form_tag(  update_dept_phase_book_admin_path(d.id) , method: :put, class: "global_settings_form") do%>
			<div>
			<%= label_tag :dept_phase, "Department Phase" %>
	      <%= radio_button_tag :dept_phase,'off',Setting.phase==0 ? true:nil %>
	      <%= label_tag :dept_phase_off, "Off" %>
	      <%= radio_button_tag :dept_phase,'buy',Setting.phase==1 ? true:nil %>
	      <%= label_tag :dept_phase_buy, 'Buy' %>
	      <%= radio_button_tag :dept_phase,'confirm',Setting.phase==2 ? true:nil %>
	      <%= label_tag :dept_phase_confirm, 'Confirm' %>
	      <%= radio_button_tag :dept_phase,'dist',Setting.phase==3 ? true:nil %>
	      <%= label_tag :dept_phase_dist, 'Distribution' %>
			</div>
			<div><%= submit_tag 'Change' %></div>
		<% end %>