<tr>
	<% b_all=d.users.has_book_in_payment(book.id,1..3) %>
	<% b_com=d.users.has_book_in_payment(book.id,3) %>
	<td class="book-title"><%= book.title%></td>
	<td><%= mem_price=book.member_price(d.id) %></td>
	<td><%= non_price=book.nonmember_price(d.id) %></td>
	<td><%= b_all.where(is_member:true).count %></td>
	<td><%= b_all.where(is_member:false).count %></td>
	<td><%= mem_amount=b_com.where(is_member:true).count %></td>
	<td><%= non_amount=b_com.where(is_member:false).count %></td>
	<td class="total-cost"><%= mem_price*mem_amount+non_amount*non_price %></td>
</tr>