<div class="small-12">
	<div class="clearfix user-info" style="margin-bottom:0.5em;">
		<span class="left" style="margin-right:0.5em;">#<span class="user-info-id"><%= user.id %></span></span>
		<span class="left" style="margin-right:0.5em;"><%= user.account %></span>
		<% if user.department.has_member %>
		<span class="left label member-label" style="margin-right:0.5em;">
		
		<%= user.is_member ? '會員' : '非會員' %>
		
		</span>
		<% end %>
	</div>
<% if !user.payments.exists? %>
<div>無訂單資料!</div>
<% else %>
<table class="small-12">
	<thead>
		<tr>
			<th class="small-1 text-center">訂單</th>
			<th class="small-2 text-center">狀態</th>
			<th class="small-3 text-center">金額</th>
			<th class="small-2 text-center">確認碼</th>
			<th class="small-4 text-center">動作</th>
		</tr>
	</thead>
	<tbody>
		<% user.payments.each do |p|%>
		<tr>
			<td><%= p.id %></td>
			<td class="dept-payment-status"><%= content_tag(:span, p.status_label, class: "label "+p.status_class) %></td>
			<td><%= p.cost %></td>
			<td><%= p.payment_code %></td>
			<td><%= link_to '確認', (p.status==2 ? confirm_book_payment_path(p.id) : nil), remote: true, class: "button tiny dept-confirm-button",disabled: (p.status==2 ? nil : ' disabled')%></td>
		</tr>
		<% end %>
	</tbody>
	<tfoot>
	</tfoot>
</table>
<% end %>
  <a class="close-reveal-modal">&#215;</a>