<div id="payment-detail-modal" class="reveal-modal tiny" data-reveal>
</div>
<div class="small-12 columns">
	<div class="payments-sub-nav small-8 small-centered columns">
		<dl class="sub-nav">
			<% name_arr=['目前階段','待繳費','待確認','已完成','未領完','完成領取'] %>
			<% name_arr.each_with_index do |name,i|%>
			<dd class="payment-filter<%=(i==0 ? " active" : "")%>">
				<%= link_to name, payments_book_department_path(meth:i), remote: true %>
			</dd>
			<% end %>
		</dl>
	</div>
	<div class="dept-payment-search">
		<%= render partial: 'payments_search', locals:{meth:0}%>
	</div>
	<div class="payments-table small-10 small-centered columns">
		<table class="small-12">
			<thead>
			<tr> 
				<th style="width:5%">#</th>
				<th style="width:10%">狀態</th>
				<th style="width:20%">使用者</th>
				<th style="width:10%">金額</th>
				<th style="width:10%">確認碼</th>
				<th style="width:25%">動作</th>
			</tr>
			</thead>
			<tbody>
				<tr class="dept-no-payments<%= " hide" unless @payments.empty? %>">
					<td>無資料<td>
				</tr>
				<%= render(partial: 'payments_table', collection: @payments, as: :payment)%>
			</tbody>
			<tfoot>
				
			</tfoot>
		</table>
	</div>
	<div class="pagination-centered payments-pagination">
		<%= paginate(@payments, remote: true, outer_window: 1, window: 2) %>
	</div>
</div>
