<div class="large-nav-wrapper large-2 columns sidebar show-for-large-up">
	<div class="sidebar-inner large-12 columns">
	<div class="sidebar-title text-center">台大電機系訂書系統</div>
	<div class="user-info">
		<h3><%=current_user.department.dept_name%></h3>
		<h3><%=current_user.account%></h3>
	</div>
	<ul class="side-nav user-side-nav">
		<% if controller_name=='products' %>
			<li class="active">
			<a>
				<i class="fi-book-bookmark" style="font-size:36px;"></i>&nbsp;訂書
				<% if phase(2..3) %>
					<span style="font-size:12px">(停止開放)</span>
				<% end %>
			</a>
			</li>
		<% else %>
			<li ><a <%= 'href=shop' unless phase(2..3) %>><i class="fi-book-bookmark" style="font-size:36px;"></i>&nbsp;訂書
			<% if phase(2..3) %>
				<span style="font-size:12px">(停止開放)</span>
			<% end %>
			</a></li>
		<% end %>
		<% if controller_name=='payments' %>
			<li class="active"><a><i class="fi-clipboard-notes" style="font-size:36px;"></i>&nbsp;帳單</a>
			</li>
		<% else %>
			<li ><a href="payments"><i class="fi-clipboard-notes" style="font-size:36px;"></i>&nbsp;帳單</a></li>
		<% end %>
	  <li><a href="logout"><i class="fi-x" style="font-size:36px;"></i>&nbsp;登出</a></li>
	</ul>
	<div class="text-center">
	<span style="font-size:12px">若有任何問題，請聯絡：</span>
	<span style="font-size:12px"><%= Setting.admin_email %></span>
	</div>
	</div>
</div>

<div class="small-nav-wrapper hide-for-large-up">
	<div class="fixed">
		<nav class="top-bar" data-topbar>
			<ul class="title-area">
				<li class="name">
				<h1><a href="/">台大電機系訂書系統</a></h1>
				</li>
				<li class="toggle-topbar menu-icon"><a href="#"><span>選單</span></a></li>
			</ul>
			<section class="top-bar-section">
				<ul class="left">
				<% if controller_name=='products' %>
					<li class="active"><a>訂書
					<% if phase(2..3) %>
					(停止開放)
					<% end %>
					</a></li>
				<% else %>
					<li ><a href="shop">訂書
					<% if phase(2..3) %>
					(停止開放)
					<% end %>
					</a></li>
				<% end %>
				<% if controller_name=='payments' %>
					<li class="active"><a>>帳單</a></li>
				<% else %>
					<li ><a href="payments">帳單</a></li>
				<% end %>
				</ul>
				<ul class="right">
					<li style="background-color:#555"><a>來自<%= current_user.department.dept_name%>的<%= current_user.account %></a></li>
					<li style="background-color:#833"><a href="logout">登出</a></li>
				</ul>
			</section>
		</nav>
	</div>
</div>
