<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "NTUEESA" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolink-track'=> true%>
    <%= csrf_meta_tags %>
  </head>

  <body>
<!--   <div class="fixed">
    <nav class="top-bar show-for-small-only" data-topbar>
      <ul class="title-area">
        <li class="toggle-topbar menu-icon "><a href="#"><span>Menu</span></a></li>
      </ul>
    </nav>
  </div> -->
  <div class="medium-2 columns sidebar show-for-medium-up">
    <%= layout 'book/user_nav' %>
  </div>
  <div class="small-12 medium-10 columns">
    <div class="small-8 small-centered columns">
      <%if flash[:notice]%><div class="alert-box info"><%= flash[:notice]%></div><% end %>
      <%if flash[:alert]%><div class="alert-box"><%= flash[:alert]%></div><% end %>
    </div>
      <%= yield %>
  </div>
  </body>
</html>